.container{
    background: white;
    padding: 1.5rem;
    max-width: 650px;
    margin: auto;
    overflow: hidden;
}

@media only screen and (min-width: 700px){
    .container{
        border-radius: 1rem;
        margin-block: 4rem;
    }
}